/* ================= DEFAULT STATE ================= */

/* TEXT (bottom → up) */
.hero-text {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.9s ease;
}

/* PRODUCT (right → left) */
.hero-product {
  opacity: 0;
  transform: translateX(120px) scale(0.92); /* RIGHT side */
  transition: all 1s ease;
  
}


.hero-product img {
  max-width: 100%;
  height: auto;
}
/* ================= ACTIVE SLIDE ================= */

/* TEXT animation */
.swiper-slide-active .hero-text {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.4s;
}

/* PRODUCT animation (RIGHT → LEFT) */
.swiper-slide-active .hero-product {
  opacity: 1;
  transform: translateX(0) scale(1);
  transition-delay: 0.9s;
}


/* =========================================
  swiper arrow buttons customization
========================================= */

/* arrow buttons container */
.swiper-button-prev,
.swiper-button-next {
  width: 25px;
  height: 25px;
  /* font-size: large; */
  background: #f97316;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

  display: flex;
  align-items: center;
  justify-content: center;

  transition: all 0.3s ease;
}

/* arrow icon size */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important; 
  font-weight: bold;
  color: #222;
}

/* hover effect */
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #153979; /* orange */
  transform: scale(1.08);
}

/* hover icon color */
.swiper-button-prev:hover::after,
.swiper-button-next:hover::after {
  color: white;
}

/* position tweak (optional spacing) */
.swiper-button-prev {
  left: 20px;
}

.swiper-button-next {
  right: 20px;
}

/* disabled state */
.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

/* hide arrows on mobile */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }
}
